
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


body {
    margin: 0;
    color:#333; 
    font-size: 15px;
    font-family:'Kanit', sans-serif;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/*INTRO*/
.intro {
    width: 100%;
    height: 100vh;
    background: url("../imagets/BG_1.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}

.intro__title{
    color: white;
    font-size: 20px;
    font-weight: 40;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    line-height: 1.2;

}


/*HEADER*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 30px;
    line-height: 1.6px;
}


.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
    
}


.header__inner {

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*NAV*/
.nav {
    font-size: 15px;
    text-transform: uppercase;
}


.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: white;
    text-decoration: none;

    transition: color 0.15s linear;
}


.nav__link::after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    display: none;

    background-color: peru;

    position: absolute;
    top: 625%;
    left: 0;
    z-index: 1;

}

.nav__link:hover {
    color: peru;
    transition: color 0.15s linear;
}


.nav__link:hover:after {
    display: block;
}



/*BTN*/
.btn {
    text-decoration-line: none;
    color: white;
    border-color: transparent;
    padding: 1.5px 4.5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.15s linear;
    
}

.btn:hover {
    color:peru;
}

.btn__foto {
    display: inline-block;
    
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .2s linear, color .2s linear;
    z-index: 2;
    color: white;
    border: 2px solid white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px 20px 20px 20px;
}

.btn__foto:hover {
    background-color: #fff;
    color:peru;
}

.about__item:hover .btn__foto {
    opacity: 1;
}

/*SECTIONT*/

.section {
    padding: 120px 0 ;
    background-color: rgb(245, 250, 255);
}

.section__header {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.section__text {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 20px;
    line-height: 10px;
}

/*ABOUT*/

.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.about__item {
    max-width: 30%;
    background-color: #77bcd8;
    position: relative;
}

.about__img {
    background: linear-gradient(to bottom, #0da3df,#16BFFD25);

    transform: .1s linear;
}

.about__item:hover .about__img img {
    opacity: .7;
}
.about__item:hover .about__text {
    opacity: 1;
}

.about__item:hover .about__img {
    transform: translate3d(-10px,-10px,0);
}

.about__img img {
    display: block;
    transition: opacity .15s linear;
}

.about__text {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    position: absolute;
    transition: opacity .15s linear;
}




/*STAT*/

.statistics {
    background-color: #74dfcb;
}

.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;

    border-left: 5px solid #b5eae0;

    text-align: center;
    color: white;
}

.stat__item:last-child {
    border-right: 5px solid #b5eae0;
}

.stat__count {
    margin-bottom: 8px;
    font-size: 68px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 650;
} /*...*/